<h3>I&G Partners Auction rule</h3>
</br></br>
・I&G Partners Auction では<font color="#800000">最高金額を入札した人が商品を購入できる訳ではありません。情に訴えかけるのもokです。</font></br>
</br>
・購入意思がある商品に対してはコメント欄にて意思を記入し、出品者に伝えて下さい。(金額は必ず入れて下さい。)</br>
</br>
・出品者は締め切り時間が過ぎた商品に対して、誰に譲るのかを決めてください。</br>
</br>
・誰に譲かを決定した段階で、編集ページより誰に譲る事にしたのかを詳細に書き込んで下さい。</br>
</br>
・譲られなかった方は譲られた方、出品者に対し<font color="#ff0000">妬み、恨み</font>は持たないで下さい。</br>